@charset "utf-8";

/* reset css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button {margin:0; padding:0; border:0; font-size:100%; font-family:'klavika-web', sans-seri; vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body {line-height:1}
ol, ul, li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed}
caption, legend {overflow:hidden; text-indent:-9999px; height:1px; padding:0 !important}
html {font-family:sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}
a {background-color:transparent; color:inherit; text-decoration:none}
a:active, a:hover {outline:0; text-underline-position: under; }
p {outline:none}
img {border:0}
button {cursor:pointer; background:none}
select {font:inherit}
select:hover {cursor:pointer}
textarea {padding:0}
input, select {vertical-align:top; margin-top:0 !important}

/* common */
.width100 {width:100%}
.img-responsive {display:block; max-width:100%; height:auto}
.mt20 {margin-top:20px}
.text-center {text-align:center}

#content_bg{
	position:fixed;
	top:0;
	left:0;
	z-index:1110;
	display:block;
	width:100%;
	height:100%;
	background:url('../images/content_bg.jpg') center bottom no-repeat; background-size:cover;
	z-index: -1;}
#content img{
	width: 100%;
}
#content header{
	display: flex;
	justify-content: space-between;
	background: rgba(255,255,255,0.8);
	padding: 20px;
}
#content header>div{
	display: inline-block;
	width: 50%;
	max-width: 250px;
	text-align: right;
}
#content header>div>button{
	display: inline-block;
	width: 25%;
	height: 100%;
	max-width: 60px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.en_lang_btn{
	background-image: url(../images/en_btn.png);
}
.ko_lang_btn{
	background-image: url(../images/ko_btn.png);
}
#content header>div>.ko_lang_btn.active{
	background-image: url(../images/ko_btn_active.png);
}
#content header>div>.en_lang_btn.active{
	background-image: url(../images/en_btn_active.png);
}
#item_box{
	text-align: center;
}
#item_box>.title{
	width: 60%;
	max-width: 750px;
	padding: 10%;
}
#btn_box{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	justify-content: space-between;
	padding-bottom: 10%;
}
#btn_box>a{
	width: 30%;
	max-width: 200px;
}
.aniverseModal>h1{
	font-size: 1.5rem;
	padding: 10% 0;
}
.modal_content>div>img{width: 100%; max-width: 100px;}
.modal_content{
	display: flex;
	padding-bottom: 10%;
}
.modal_content>div:nth-child(1){
	width: 30%;
}
.modal_content>div:nth-child(2){
	width: 70%;
}
.modal_content>div:nth-child(2)>a>img{
	padding-left: 1rem;
	margin-top: 1rem;
}
.supportModalSt {border:4px solid #1289B9; border-radius:10px}
#copyMail {width:100%; text-align:center; font-size:20px}
#copyMail:focus-visible {outline:none}
.copyBtn {background:#1289B9; color:#fff; font-size:17px; display:inline-block; padding:6px 20px; margin-top:10px}

.en_lang{display: none;}
.ko_lang, .en_lang{
	word-break: keep-all;
	padding-left: 1rem;
	font-size: 0.7rem;
	color: #000;
}
#marketModal{color: #784C89;}
#governanceModal{color: #008DD4;}
#bridgeModal{color: #008DD4;}
#nftModal{color: #AE4522;}
#whitePaperModal{color: #F08400;}
#mediaModal{color: #BF4466;}
#infoModal{color: #00778D;}
.modal a.close-modal{top: 5px!important;right: 5px!important;}

#content>footer{
	/*position: absolute;*/
	/*bottom: 0;*/
	background: #000;
	color: #ccc;
	padding: 10px 0px;
}
#copyright{
	line-height: 1.2;
	text-align: center;
	padding: 10px 0px;
	font-size: 0.6rem;
}
#footer_icon{
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
}
/*#content{display:none}*/
#intro{
	display: none;
	/*display: inline-block;*/
	width: 100%;
}
#intro>a{
	display: inline-block;
}
#intro>a>img{width: 100%;}
#intro {width:100%; height:100vh; position:relative; z-index:1100;background-size:cover;}
#intro a {width: 100%;
}
#intro div {position:absolute; top:0; right:0; left:0; bottom:0; z-index:1110; display:block; width:100%; height:100%; background:url('../images/intro_bg.jpg') center bottom no-repeat; background-size:cover;}
.vbox {background:#000; width:100%; height:100vh; text-align:center; display:none;}
.vbox video {width:100%; height:100%; object-fit: fill; display:none;}

@media (min-width:600px){
	.ko_lang, .en_lang {
 		font-size: 1rem;
	}
}

